body, a{
    color: white;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

body{    
    background-color: rgba(20, 18, 24, 1) ;
   
}
.background{
    max-width: 1440px;
    max-height: 900px;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(180deg, rgba(20, 18, 24, 0) 59.28%, #141218 100%), linear-gradient(270deg, #141218 3.38%, rgba(20, 18, 24, 0) 10.43%), linear-gradient(179.45deg, #141218 0.55%, rgba(20, 18, 24, 0) 8.71%), radial-gradient(64.78% 125.62% at 72.8% 56.48%, rgba(20, 18, 24, 0.33) 19.93%, #141218 100%),url("img/background.jpg");
    background-position-x: right;
    padding-top: 1px;
}
.container{
    margin: 60px 10% 0px 10%;
    
}
.main-menu, .main-menu-right, .main-menu-left, .main-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Стилизация верхнего меню */
.main-info{
    margin-bottom: 60px;
}
.main-menu{
    margin-bottom: 70px;
}

.main-menu-left img{
    width: 50px;
    height: 37px;
    margin-right: 68px;
}
.main-menu-left a{
    margin-right: 24px;
    font-size: 14px;
    line-height: 16px;
}
.main-menu-left a:hover{
    color: rgba(255,255,255, 0.4)
}
.social-logo{    
    width: 18px;
    height: 17px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 21px;
    
}
.social-logo:last-child{
    margin-right: 0px;
}
.twitter{
    background-image: url("img/twitter.svg");
}
.inst{
    background-image: url("img/instagram.svg");
}
.fb{
    background-image: url("img/facebook.svg");
}
/*Основна часть*/
.film-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
@font-face {
    font-family: 'Mason Chronicles';
    src: url("4026.ttf");
}
.film-info h1{    
    font-family: 'Mason Chronicles';
    font-style: normal;
    font-weight: 500;
    font-size: 76px;
    line-height: 89px;
    margin:0px;
    padding: 0px;
    animation-name: slide;
    animation-duration: 2s;
}
@keyframes slide{
    from{
        font-size: 0px;
        color: transparent;
    }
    to{
        font-size: 76px;
    }
}

.film-info p{
    display: inline-block;
    font-size: 14px;
    line-height: 150%;
    width: 460px;
}
.info-button{
    display: inline-block;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: white;
    border: none;
    padding: 22px 0px;
    width: 260px;
    text-align: center;
    vertical-align: middle;
    background: #9D2929;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 40px;
    margin-bottom: 60px;
} 
.info-button:hover{
    background-color: #661515;
}
.info-button:active{
    background-color: #661515;
    transform: scale(1.1);
    color: rgba(255,255,255, 0.4);
}
.series{
    display: flex;
    align-items: center;
}
.series-episod-link{
    display: block;
}
.series svg{
    cursor: pointer;
}
.series svg:hover{
    transform: scale(1.1);
}
.series-episod{
    width: 164px;
    height: 113px;
    margin-right: 30px; 
    border-radius: 8px;
}
.episod1{
    background-image: url("./img/series_1.png");
}
.episod2{
    background-image: url("./img/series_2.png");
}
.series-episod-text{
    background-color: transparent;
    margin: 0px 0px 13px 13px;
    padding-top: 70px;
}
.series-episod-num{
    font-size: 10px;
    line-height: 12px;    
    padding: 0px;
    margin: 0px;
}
.series-episod-name{
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    background-color: transparent;
}
.series-episod-name:hover{
    color: rgba(255,255,255, 0.4);
}
.series-episod svg{
    width: 32px;
    height: 22px;
    cursor: pointer;
}
.play-button{
    width: 100px;
    height: 100px;
    background: #9D2929;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 16px rgba(157, 41, 41, 0.5) ;
    position: relative;
    top: -80px;
    margin-right: 150px;
}
.play-button:hover{
    background-color: rgba(157, 41, 41, 0.7);
    transform: scale(1.1);
    box-shadow: 0px 0px 0px 14px rgba(157, 41, 41, 0.3) ;
}
.play-button:active{
    background-color: rgba(157, 41, 41, 1);
}
.play-button-element{
    background-image: url("./img/full-arrow.svg");
    width: 36px;
    height: 40px;
    background-repeat: no-repeat;
    position: relative;
    left: 40px;
    top: 30px;
    cursor: pointer;
}

/*нижний блок*/
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;   
    padding: 20px 0px 20px 0px;
    margin-top: 0px;
}
.footer-right-part a, .footer p{
    font-size: 14px;
    line-height: 20px;
    color: rgba(255,255,255, 0.4);
    padding: 0px;
}
.footer-right-part a{
    margin-right: 25px;
}
.footer-right-part a:last-child{
    margin-right: 0;
}

.slides-info{
    display: flex;
    flex-direction: column;
    margin-top: 195px;
    margin-left: 20px;
    align-items: flex-start;
}

.series-episod-num{
    font-size: 14px;
    line-height: 12px;    
    padding: 0px;
    margin: 0px;
    color: rgba(255,255,255, 0.8);
    text-decoration: none;
    background-color: rgba(0, 0, 0, .5);    
    padding: 2px 5px ;
    vertical-align: middle;

}
.series-episod-name{
    font-weight: bold;
    font-size: 20px;
    line-height: 16px;
    background-color: transparent;
    color: rgba(255,255,255, 0.8);
    text-decoration: none;
    margin-top: 10px;
    background-color: rgba(0, 0, 0, .5);    
    padding: 2px 5px;
    border-radius: 8px;
}

.wrapper {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 8px;
	height: 250px;	
	position: relative;
    width: 450px;
    transform: scale(0.8);
    left: -45px;
}

.slider {
    background-color: #141218;
    border-radius: 8px;
    height: inherit;
	overflow: hidden;
	position: relative;
	width: inherit;
	-webkit-box-shadow: 0 0 20px rgba(0, 0, 0, .5);
	-moz-box-shadow: 0 0 20px rgba(0, 0, 0, .5);
	-o-box-shadow: 0 0 20px rgba(0, 0, 0, .5);
	box-shadow: 0 0 20px rgba(0, 0, 0, .5);
}
.slider:hover{
    transform: scale(1.05);
}
.wrapper > input {
	display: none;
}
.slides {
	height: inherit;
	position: absolute;
    width: inherit;
    text-decoration: none;
}

.slide1 { background-image: url("series_1.jpg"); }
.slide2 { background-image: url("series_2.jpg"); }
.slide3 { background-image: url("series_3.jpg"); }
.slide4 { background-image: url("series_4.jpg"); }
.slide5 { background-image: url("series_5.jpg"); }

.wrapper .controls {
	left: 50%;
	margin-left: -98px;
	position: absolute;
}

.wrapper label {
	cursor: pointer;
	display: inline-block;
	height: 8px;
	margin: 25px 12px 0 16px;
	position: relative;
	width: 8px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
}

.wrapper label:after {
	border: 2px solid #661515;
	content: " ";
	display: block;
	height: 12px;
	left: -4px;
	position: absolute;
	top: -4px;
	width: 12px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
}

.wrapper label {
	cursor: pointer;
	display: inline-block;
	height: 8px;
	margin: 25px 12px 0 16px;
	position: relative;
	width: 8px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	-webkit-transition: background ease-in-out .5s;
	-moz-transition: background ease-in-out .5s;
	-o-transition: background ease-in-out .5s;
	transition: background ease-in-out .5s;
}

.wrapper label:hover, 
#slide1:checked ~ .controls label:nth-of-type(1),
#slide2:checked ~ .controls label:nth-of-type(2),
#slide3:checked ~ .controls label:nth-of-type(3),
#slide4:checked ~ .controls label:nth-of-type(4),
#slide5:checked ~ .controls label:nth-of-type(5) {
	background: white;
}

.slides {
	height: inherit;
	opacity: 0;
	position: absolute;
	width: inherit;
	z-index: 0;
	-webkit-transform: scale(1.5);
	-moz-transform: scale(1.5);
	-o-transform: scale(1.5);
	transform: scale(1.5);
	-webkit-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
	-moz-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
	-o-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
	transition: transform ease-in-out .5s, opacity ease-in-out .5s;
}

#slide1:checked ~ .slider > .slide1,
#slide2:checked ~ .slider > .slide2,
#slide3:checked ~ .slider > .slide3,
#slide4:checked ~ .slider > .slide4,
#slide5:checked ~ .slider > .slide5 {
	opacity: 1;
	z-index: 1;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}

@media(max-width:980px){
    .play-button{
        width: 50px;
        height: 50px;
    }
    .play-button-element{
        width: 36px;
        height: 40px;
        background-repeat: no-repeat;
        position: relative;
        transform: scale(0.7);
        left: 12px;
        top: 6px;
    }
}
@media(max-width:900px){
    .film-info p{
    width: 350px;
    }
    .film-info{
        width: 350px;
        padding: 0;
    }
}
@media(max-width:760px){
    html{
        min-width: 425px;
    }
    .container{
        margin: 25px;
    }
    footer{
        display:flex;
        flex-wrap: wrap;
        margin-left: auto;
        margin-right: auto;
    }
    footer p{
        display: inline-block;
    }
    .play-button{
        display: none;
    }
    .film-info{
        margin-right: auto;
    }
    .background{
        background-size: 100%;
        background-position: center;
    }
}
@media(max-width:560px){

    .main-menu-right a{
        display:none;
    }
    .background{
        background-size: 150%;
        background-position: center;
        width: 100%;
    }
    .film-info p{
        width: 90%;
        }
}
