body, a{
    color: white;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

body{    
    background: linear-gradient(180deg, rgba(20, 18, 24, 0) 59.28%, #141218 100%), linear-gradient(270deg, #141218 3.38%, rgba(20, 18, 24, 0) 10.43%), linear-gradient(179.45deg, #141218 0.55%, rgba(20, 18, 24, 0) 8.71%), radial-gradient(64.78% 125.62% at 72.8% 56.48%, rgba(20, 18, 24, 0.33) 19.93%, #141218 100%),url("img/background.jpg");
    background-position-x: right;
}
.container{
    margin: 60px 10% 0px 10%;
}
.main-menu, .main-menu-right, .main-menu-left, .main-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Стилизация верхнего меню */
.main-info{
    margin-bottom: 60px;
}
.main-menu{
    margin-bottom: 70px;
}
.main-menu-left img{
    width: 50px;
    height: 37px;
    margin-right: 68px;
}
.main-menu-left a{
    margin-right: 24px;
    font-size: 14px;
    line-height: 16px;
}
.social-logo{    
    width: 17px;
    height: 17px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: contain;
    margin-right: 21px;
}
.social-logo:last-child{
    margin-right: 0px;
}
.twitter{
    background-image: url("img/twitter.svg");
}
.inst{
    background-image: url("img/instagram.svg");
}
.fb{
    background-image: url("img/facebook.svg");
}
/*Основна часть*/
.film-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
@font-face {
    font-family: 'Mason Chronicles';
    src: url("4026.ttf");
}
.film-info h1{    
    font-family: 'Mason Chronicles';
    font-style: normal;
    font-weight: 500;
    font-size: 76px;
    line-height: 89px;
    margin:0px;
    padding: 0px;
}
.film-info p{
    display: inline-block;
    font-size: 14px;
    line-height: 150%;
    width: 460px;
}
.info-button{
    display: inline-block;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: white;
    border: none;
    padding: 22px 0px;
    vertical-align: middle;
    background: #9D2929;
    border-radius: 8px;
    width: 260px;
    height: 60px;
    cursor: pointer;
    margin-top: 40px;
    margin-bottom: 85px;
}   
.series{
    display: flex;
    align-items: center;
}
.series svg{
    cursor: pointer;
}
.series-episod{
    width: 164px;
    height: 113px;
    margin-right: 30px; 
    border-radius: 8px;
}
.episod1{
    background-image: url("./img/series_1.png");
}
.episod2{
    background-image: url("./img/series_2.png");
}
.series-episod-text{
    background-color: transparent;
    margin: 70px 0px 13px 13px;
}
.series-episod-num{
    font-size: 10px;
    line-height: 12px;    
    padding: 0px;
    margin: 0px;
}
.series-episod-name{
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    background-color: transparent;
}
.series-episod svg{
    width: 32px;
    height: 22px;
    cursor: pointer;
}
.play-button{
    width: 100px;
    height: 100px;
    background: #9D2929;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 16px rgba(157, 41, 41, 0.5) ;
    position: relative;
    top: -80px;
    margin-right: 150px;
}
.play-button-element{
    background-image: url("./img/full-arrow.svg");
    width: 36px;
    height: 40px;
    background-repeat: no-repeat;
    position: relative;
    left: 40px;
    top: 30px;
    cursor: pointer;
}
/*нижний блок*/
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;   
    padding: 20px 0px 20px 0px;
    margin-top: 0px;
}
.footer-right-part a, .footer p{
    font-size: 14px;
    line-height: 20px;
    color: rgba(255,255,255, 0.4);
    padding: 0px;
}
.footer-right-part a{
    margin-right: 25px;
}
.footer-right-part a:last-child{
    margin-right: 0;
}